/* You can add global styles to this file, and also import other style files */

/* Import Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Angular Material Theme */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

/* Import Material Icons */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

/* Global Styles */
html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Fix for dark mode backgrounds */
.dark {
  color-scheme: dark;
}
